@charset "utf-8";

body {
    font-family: 'Poppins', 'Lato', Verdana, Tahoma, sans-serif;
    font-size: 0.9em; 
}

nav {
    border-bottom: solid 1px #8BB3EA;
}

h3, h5, h6 {
    color: #597295;
}

p {
    color: #999;
}

.logo-small {
    display: none;
}

.navbar-toggler {
    color: #8BB3EA;
    border: none;
}

.navbar-toggler:focus {
    color: #FFF;
    border: none;
}

.nav-item .nav-link{
    color: #597295 !important;
    font-weight: 400 !important;
}

.nav-item .nav-link:hover{
    color: #8BB3EA !important;
}


.float-end {
    float: right;
    margin-right: 0;
    margin-left: auto;
}

.spacer {
    background-color: #8BB3EA;
    height: 3px;
    width: 90px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sp-1 {
    margin-left: auto;
}

.sp-2 {
    margin-right: auto;
}

.foto, .texto {
    height: 564px;
    width: 381px;
    position: relative;
}

.texto.card {
    border: solid 1px #8BB3EA;
}

.card-color {
    background-color: #D3E6EA;
    border: none;
    opacity: 95%;
    position: relative;
}

.agende-1 {
    color: #8BB3EA;
    border: solid 2px #8BB3EA;
    width: 400px;

}

.agende-2 {
    background-color: #D3E6EA;
    color: #597295;
    border: solid 2px #8BB3EA;
    width: 400px;

}

i {
    font-size: 20px;
    color: #8BB3EA;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

.parallax-1 {
    background-image: url("https://i.imgur.com/gVTnj88.jpg");
    min-height: 332px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    position: absolute;
}

.parallax-2 {
    background-image: url("https://i.imgur.com/AbmgkdA.jpg");
    min-height: 332px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -40px;
    position: absolute;
}

.parallax-3 {
    background-image: url("https://i.imgur.com/KkxSJ3T.jpg");
    min-height: 332px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    position: absolute;
}

.image1, .image2, .image3 {
    position: absolute;
    margin-top: 50px;
}

footer {
    border-top: solid 1px #8BB3EA;
}






@media screen and (max-width: 992px) {
    .image1, .image2, .image3 {
        display: none;
    }

    .aval {
        margin-top: 0 !important;
        margin-bottom: -100px !important;
    }

    iframe {
        display: none;
    }

    .agende-1, .agende-2 {
        width: 300px;
    }

    .foto {
        height: 564px !important;
        width: 381px !important;
    }

    .info {
        padding: 100px !important;
    }

}

@media screen and (max-width: 614px) {
    .m-5, .mx-5 {
        margin-right: -10px !important;
        margin-left: -10px !important;
    }
    
}


@media screen and (max-width: 438px) {
    .logo {
        display: none;
    }

    .logo-small {
        display: inline-flex;
        margin-left: 0;
        margin-right: auto;
    }

    .foto {
        height: 451px !important;
        width: 305px !important;
    }

}

@media screen and (max-width: 300px) {
 
    .foto {
        height: 395px !important;
        width: 267px !important;
    }

    .texto {
        height: auto !important;
    }

    .agende-1, .agende-2 {
        width: 250px;
    }

    .aval {
        margin-top: 100px !important;
        margin-bottom: -50px !important;
    }

    .info {
        padding: 10px !important;
    }
}