/* MAIN STYLES */

body {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h3,
h5,
h6 {
  color: #597295;
  font-family: 'Poppins', Helvetica, Tahoma, sans-serif;
  font-weight: 400;
}

p {
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
  z-index: 2;
}

.js [data-scroll='anime'] {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 0.5s;
}

.js [data-scroll='anime'].active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.float-end {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

/* LOGO */

.logo {
  max-height: 50px;
}

.logo-img img {
  width: 50px;
}

.logo-text {
  margin: 0;
  font-family: 'Poppins', Helvetica, Tahoma, sans-serif;
}

.logo-sub-text {
  line-height: 0.5em;
}

.carina {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 0.5em;
  color: #8bb3ea;
}

.psicologa {
  color: #8bb3ea;
}

.crp {
  font-size: 0.8em;
  line-height: 0.7em;
  color: rgba(0, 0, 0, 0.6);
}

.psicologa:hover,
.carina:hover {
  color: #8bb3ea;
}

/* MENU */

nav {
  border-bottom: solid 1px #8bb3ea;
}

.navbar-toggler {
  color: #8bb3ea;
  border: none;
}

.navbar-toggler:focus {
  color: #fff;
  border: none;
}

.nav-item .nav-link {
  color: #597295 !important;
}

.nav-item .nav-link:hover {
  color: #8bb3ea !important;
}

/* BIG BUTTONS */

.agende {
  color: #8bb3ea;
  border: solid 2px #8bb3ea;
  border-radius: 5px;
  width: 400px;
}

.agende:hover {
  color: #597295;
  border: solid 2px #597295;
}

.agende h4 {
  font-weight: 600 !important;
}

/* CARDS AND PHOTOS */

.foto,
.texto {
  height: 564px;
  width: 381px;
  position: relative;
}

.foto img {
  margin-left: -12px;
  border-radius: 5px;
}

.texto.card,
.texto-lg.card {
  border: solid 1px #8bb3ea;
}

.card-color {
  background-color: #d3e6ea;
  border: none;
  opacity: 95%;
  position: relative;
  max-width: 800px;
}

.spacer {
  background-color: #8bb3ea;
  height: 3px;
  width: 90px;
  margin-top: 0;
  margin-bottom: 20px;
}

.spacer-end {
  margin-bottom: 100px !important;
}

.saiba:hover {
  color: #8bb3ea !important;
}

.parallax-1,
.parallax-2,
.parallax-3 {
  min-height: 332px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.parallax-1 {
  background-image: url('../img/trees.jpg');
  margin-top: 150px;
}

.parallax-2 {
  background-image: url('../img/father.jpg');
  margin-top: -150px;
  margin-left: -12px;
  z-index: -1;
}

.parallax-3 {
  background-image: url('../img/garden.jpg');
  margin-top: 150px;
}

.image1,
.image2,
.image3 {
  position: absolute;
  margin-top: 50px;
}

/* REVIEWS */

#avaliacoes {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

#avaliacoes::-webkit-scrollbar {
  display: none;
}

.aval {
  margin: 0 30px;
}

.aval img {
  width: 218px;
  height: 218px;
  border-radius: 50%;
}

/* INFOS */

i {
  color: #8bb3ea;
}

h5 i {
  font-size: 0.9em;
  line-height: 1.5em;
  vertical-align: middle;
  padding: 0 10px;
}

p i {
  font-size: 0.4em;
  vertical-align: middle;
  padding: 0 10px 0 40px;
}

#contato p {
  line-height: 1.5em;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

footer {
  border-top: solid 1px #8bb3ea;
}
