@charset "utf-8";

/* RESET */
html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
    margin: 0;
    padding: 0;
}

/* NORMALIZE */
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}

summary{
    display:list-item
}
audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}

audio:not([controls]){
    display:none;
    height:0
}

[hidden],template{
    display:none
}

a{
    background-color:transparent
}

a:active,a:hover{
    outline-width:0
}

abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}

b,strong{
    font-weight:bolder
}

dfn{
    font-style:italic
}

mark{
    background:#ff0;
    color:#000
}

small{
    font-size:80%
}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sub{
    bottom:-0.25em
}

sup{
    top:-0.5em
}

figure{
    margin:1em 40px
}

img{
    border-style:none
}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}

button,input,select,textarea,optgroup{
    font:inherit;
    margin:0
}

optgroup{
    font-weight:bold
}

button,input{
    overflow:visible
}

button,select{
    text-transform:none
}

button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}

button  ::-moz-focus-inner,[type=button]
        ::-moz-focus-inner,[type=reset]
        ::-moz-focus-inner,[type=submit]
        ::-moz-focus-inner{
            border-style:none;padding:0
        }
button  :-moz-focusring,[type=button]
        :-moz-focusring,[type=reset]
        :-moz-focusring,[type=submit]
        :-moz-focusring{
            outline:1px dotted ButtonText
        }

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}

textarea{
    overflow:auto
}

[type=checkbox],[type=radio]{
    padding:0
}

[type=number]   ::-webkit-inner-spin-button,
[type=number]   ::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]   ::-webkit-search-decoration{
    -webkit-appearance:none
}
                ::-webkit-file-upload-button{
                    -webkit-appearance:button;
                    font:inherit
}




/* PAGE STYLE */

body {
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    font-size: .9em;
    font-weight: 400;
}

h3, h5, h6 {
    color: #597295;
    font-family: 'Poppins', Helvetica, Tahoma, sans-serif;
    font-weight: 400;
}

p {
    color: rgba(0, 0, 0, .8)
}

a {
    text-decoration: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: none;
    z-index: 2;
}

.float-end {
    float: right;
    margin-right: 0;
    margin-left: auto;
}

/* LOGO */

.logo {
    max-height: 50px;
}

.logo-img img {
    width: 50px;
}

.logo-text {
    height: 50px;
    font-family: 'Poppins', Helvetica, Tahoma, sans-serif;
}

.logo-sub-text {
    line-height: .5em;
}

.carina {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.7;
    color: #8BB3EA;
}

.psicologa {
    color: #8BB3EA;
}

.crp {
    font-size: 0.8em;
    line-height: 0.7em;
    color: rgba(0, 0, 0, .6)
}

.psicologa:hover, .carina:hover {
    color: #8BB3EA;
}

/* MENU */

nav {
    border-bottom: solid 1px #8BB3EA;
}

.navbar-toggler {
    color: #8BB3EA;
    border: none;
}

.navbar-toggler:focus {
    color: #FFF;
    border: none;
}

.nav-item .nav-link{
    color: #597295 !important;
}

.nav-item .nav-link:hover{
    color: #8BB3EA !important;
}

/* BOTÃO AGENDE */

.agende {
    color: #8BB3EA;
    border: solid 2px #8BB3EA;
    border-radius: 5px;
    width: 400px;
}

.agende:hover {
    color: #597295;
    border: solid 2px #597295;
}

.agende h4 {
    font-weight: 600 !important;
}


/* CARDS E FOTOS */

.foto, .texto {
    height: 564px;
    width: 381px;
    position: relative;
}

.foto img {
    margin-left: -12px;
    border-radius: 5px;
}

.texto.card, .texto-lg.card {
    border: solid 1px #8BB3EA;
}

.card-color {
    background-color: #D3E6EA;
    border: none;
    opacity: 95%;
    position: relative;
    max-width: 800px;
}

.spacer {
    background-color: #8BB3EA;
    height: 3px;
    width: 90px;
    margin-top: 0;
    margin-bottom: 20px;
}

.spacer-end {
    margin-bottom: 100px !important;
} 

.saiba:hover {
    color: #8BB3EA !important;
}

.parallax-1, .parallax-2, .parallax-3 {
    min-height: 332px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.parallax-1 {
    background-image: url("../img/trees.jpg");
    margin-top: 150px;
}

.parallax-2 {
    background-image: url("../img/father.jpg");
    margin-top: -150px;
    margin-left: -12px;
    z-index: -1;

}

.parallax-3 {
    background-image: url("../img/garden.jpg");
    margin-top: 150px;

}

.image1, .image2, .image3 {
    position: absolute;
    margin-top: 50px;
}

/* AVALIAÇÕES */

#avaliacoes {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
}

#avaliacoes::-webkit-scrollbar {
    display: none;
}

.aval {
    margin: 0 30px;
}

.aval img {
    width: 218px;
    height: 218px;
    border-radius: 50%;
}

/* INFOS */

i {
    color: #8BB3EA;
}

h5 i {
    font-size: .9em;
    line-height: 1.5em;
    vertical-align: middle;
    padding: 0 10px;
}

p i {
    font-size: .4em;
    vertical-align: middle;
    padding: 0 10px 0 40px;;
}

#contato p {
    line-height: 1.5em;
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

footer {
    border-top: solid 1px #8BB3EA;
}



/* MEDIA QUERIES */

@media screen and (min-width: 1640px) {
    .aval p {
        padding: 0 30px;
    }
}

@media screen and (min-width: 995px) {
    .card-color {
        width: 850px !important;
    }
}

@media screen and (max-width: 995px) {
    .image1, .image2, .image3 {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;;
    }

    .parallax-2 {
        display: block;
        position: relative;
        margin: 0;
    }

    iframe {
        display: none;
    }

}

@media screen and (max-width: 460px) {

    .logo img {
        max-width: 40px;
    }

    .logo-sub-text {
        line-height: .5em;
    }
    
    .carina {
        font-size: 1.2em;
        line-height: 1.6;
    }
    .psicologa {
        font-size: .8em;
    }

     .crp {
        font-size: .7em;
        line-height: .6em;
    }

}

@media screen and (max-width: 420px) {
    .logo img {
        max-width: 40px;
        margin: 0 -7px
    }
     
    .navbar-toggler-icon {
        margin: 0 -20px;
    }

    .agende {
        width: 300px !important;
    }

    .card-color {
        padding: 20px !important;
    }

    .card-color p {
        padding: 0px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .foto img,  .image1, .image2, .image3 {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}


@media screen and (max-width: 320px) {
    .texto {
        height: auto;
    }
    
    .foto {
        height: 400px !important;
    }

    #transtornos {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .parallax-1 {
        margin-top: 60px;
    }

    #avaliacoes {
        margin-top: 0 !important;
    }

    .agende {
        width: 250px !important;
    }



}